
/* CSS update: 2022-08-05 */

td {
  vertical-align: top;
}

@page {
  margin-top: 7mm;
  margin-bottom: 7mm;
  margin-left: 10mm;
  margin-right: 10mm;
}

body {
  font-family: Helvetica;
}

table {
  font-size: 7.4px;
  width: 100%;
}

.column1 {
  width: 29.5%;
}

.column2 {
  width: 10%;
}

.column3 {
  width: 10%;
}

.column4 {
  width: 1%;
}

.column5 {
  width: 29.5%;
}

.column6 {
  width: 10%;
}

.column7 {
  width: 10%;
}

.column00 {
  width: 5%;
}

.column01 {
  width: 28%;
}

.column02 {
  width: 8.25%;
}

.column03 {
  width: 8.25%;
}

.column04 {
  width: 1%;
}

.column05 {
  width: 5%;
}

.column06 {
  width: 28%;
}

.column07 {
  width: 8.25%;
}

.column08 {
  width: 8.25%;
}

.address-header {
  font-size: 8px;
}

.heading2 {
  font-size: 12px;
  font-weight: bold;
}

.table-header {
  color: $colortextheadertable;
  background-color: $colorheadertable;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  font-weight: bold;
}

table.table td {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: thin;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: thin;
}



.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.footer {
  font-family: Helvetica;
  font-size: 8px;
  text-align: center;
}

.text-notes {
  font-size: 8px;
}
