/* Update 2022-02-14 */

@page {
	margin-top: 10mm;
	margin-bottom: 10mm;
	margin-left: 15mm;
	margin-right: 15mm;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.description {
	padding-top: 5px;
	padding-bottom: 5px;
}

.heading {
	font-size: 14px;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.alignJustify {
	text-align: justify;
  }

.underline {
	text-decoration: underline;
}

.border {
	border: 1px solid black;
	padding: 6px;
}

.borderTop {
	/*border-top: thin solid black;*/
}

.img {
	height: 45;
}

.table {
	width: 100%;
}

caption {
	text-align: left;
}

.col1Table {
	width: 3%;
}

.col2Table {
	width: 77%;
}

.col3Table {
	width: 15%;
}

.col4Table {
	width: 5%;
}

table.table td {
	/*border-top-style: solid;
	border-top-color: black;
	border-top-width: thin;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-color: black;
	border-left-width: thin;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: thin;*/
}

.tableAnagrafica {
	width: 100%;
}

.col1Anagrafica {
	width: 24%;
}

.col2Anagrafica {
	width: 25%;
}

.col3Anagrafica {
	width: 1%;
}

.col4Anagrafica {
	width: 24%;
}

.col5Anagrafica {
	width: 25%;
}

table.tableAnagrafica td {
	border-top-style: solid;
	border-top-color: black;
	border-top-width: thin;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: thin;
	border-left-style: solid;
	border-left-color: black;
	border-left-width: thin;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: thin;
}

.details {
	font-family: Courier New;
	font-size: 7pt;
	border-bottom: thin solid black;
}

.footer {
	font-size: 7pt;
	text-align: center;
}

.total {
	/*background-color: #eeeeee;*/
}

.headerTableDettagli {
	font-weight: bold;
	background-color: #dde8ff;
}
.tableDettagli {
	width: 100%;
}

.col1Dettagli {
	width: 8%;
}

.col2Dettagli {
	width: 10%;
}

.col3Dettagli {
	width: 13%;
}

.col4Dettagli {
	width: 69%;
}

table.tableDettagli td {
	border: thin solid black;
}
