/* Update 2025-10-13 */

@page {
   margin-top: 20mm;
   margin-bottom: 10mm;
   margin-left: 15mm;
   margin-right: 15mm;
}

body {
   font-family: Helvetica, Arial, sans-serif;
   font-size: 10px;
}

.heading1 {
   font-size: 16px;
   font-weight: bold;
}

.heading2 {
   font-size: 13.5px;
   font-weight: bold;
}

.heading3 {
   font-size: 12px;
}

.background {
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #eeeeee;
}

.borderLeft {
   border-left-style: solid;
   border-left-color: black;
   border-left-width: thin;
}

.borderBottom {
   border-bottom-style: solid;
   border-bottom-color: black;
   border-bottom-width: thin;
}

.bold {
   font-weight: bold;
}

.italic {
   font-style: italic;
}

.alignRight {
   text-align: right;
}

.alignCenter {
   text-align: center;
}

table {
   font-size: 10px;
   width: 100%;
}

td {
   vertical-align: top;
}

caption {
   text-align: left;
}

table.table td {
   border-top-style: solid;
   border-top-color: black;
   border-top-width: thin;
   border-bottom-style: solid;
   border-bottom-color: black;
   border-bottom-width: thin;
   border-left-style: solid;
   border-left-color: black;
   border-left-width: thin;
   border-right-style: solid;
   border-right-color: black;
   border-right-width: thin;
}

.footer {
   text-align: center;
   font-size:8px;
}

.finalnotes {
   margin-top: 0.5cm;
}
