
/* CSS update: 2022-10-19  */

td {
  vertical-align: top;
}

@page {
  margin-top: 10mm;
  margin-bottom: 10mm;
  margin-left: 10mm;
  margin-right: 10mm;
}

body {
  font-family: Helvetica;
}

table {
  font-size: 8px;
  width: 100%;
}

/*table.table td {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: thin;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: thin;
}*/

.column1 {
  width: 73%;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 13%;
}

.column01 {
  width: 7%;
}

.column02 {
  width: 67%;
}

.column03 {
  width: 13%;
}

.column03 {
  width: 13%;
}

.address-header {
  font-size: 8px;
}

.heading2 {
  font-size: 12px;
  font-weight: bold;
}

.table-header {
  text-align: right;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
}

.assets-title {
  font-weight: bold;
  text-align: left;
}

.liabilties-title {
  font-weight: bold;
  text-align: left;
}

.description-groups-titles {
  text-align: left;
  font-weight: bold;
}

.amount-groups-titles {
  text-align: right;
  font-weight: bold;
}

.description-groups {
  text-align: left;
}

.amount-groups {
  text-align: right;
}

.description-groups-totals {
  text-align: left;
  font-weight: bold;
}

.amount-groups-totals {
  text-align: right;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thin;
}

.description-totals {
  text-align: left;
  font-weight: bold;
}

.amount-totals {
  text-align: right;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thin;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.footer {
  font-family: Helvetica;
  font-size: 8px;
  text-align: center;
}

.lvl0 {
  padding-left: 0px;
}

.lvl1 {
  padding-left: 10px;
}

.lvl2 {
  padding-left: 20px;
}

.lvl3 {
  padding-left: 30px;
}

.lvl4 {
  padding-left: 40px;
}

.details {
  font-family: Courier New;
  font-size: 6pt;
  color: black;
  background-color: #f4faff;
  border: thin solid black;
}

.tableReportControllo {
  width: 100%;
}

/*table.tableReportControllo td {
  border-top-style: solid;
  border-top-color: black;
  border-top-width: thin;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: thin;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: thin;
}*/

.alert-message {
  font-size: 12pt;
  color: red;
}

.text-color-red {
  color: red;
}

.table-quadratura {
  color: #000000;
  background-color: #ffcccc;
  /*border: 1px solid red;*/
  width: 50%;
  font-size: 10pt;
}
