
/* CSS update: 2020-06-19  */

td {
  vertical-align: top;
}
@page {
  margin-top:20mm;
  margin-bottom:20mm;
  margin-left:20mm;
  margin-right:20mm;
}
@page {
  margin-top:5mm;
  margin-bottom:5mm;
  margin-left:10mm;
  margin-right:10mm;
}
body {
  font-family:Helvetica;
}
table {
  font-size:10px;
  width:100%;
}
.column1 {
  width:70%;
}
.column2 {
  width:15%;
}
.column3 {
  width:15%;
}
.heading2 {
  font-size:12px;
  font-weight:bold;
}
.styleTableHeader {
  color:#ffffff;
  background-color:#337ab7;
  border-bottom-style:double;
  border-bottom-color:black;
  border-bottom-width:1px;
}
table.table td {
  border-top-style:solid;
  border-top-color:black;
  border-top-width:thin;
  border-bottom-style:solid;
  border-bottom-color:black;
  border-bottom-width:thin;
  border-left-style:solid;
  border-left-color:black;
  border-left-width:thin;
  border-right-style:solid;
  border-right-color:black;
  border-right-width:thin;
}
.alignRight {
  text-align:right;
}
.alignLeft {
  text-align:left;
}
.alignCenter {
  text-align:center;
}
.bold {
  font-weight:bold;
}
.footer {
  font-family:Courier New;
  font-size:8px;
  text-align:right;
}

/*
.watermark {
  font-size:16;
  font-weight:bold;
  text-align:center;
  color:#DDDDDD;
  display:inline;
}
.description {
  font-size:8px;
  padding-top:5px;
  padding-bottom:5px;
}

.heading1 {
  font-size:16px;
  font-weight:bold;
}

.heading3 {
  font-size:10px;
  font-weight:bold;
}
.heading4 {
  font-size:9px;
  font-weight:bold;
}
.header1 {
  font-family:Times New Roman;
  font-size:10px;
}
.header2 {
  font-family:Times New Roman;
  font-size:7px;
}
.horizontalLine {
  border-bottom-style:solid;
  border-bottom-color:black;
  border-bottom-width:thin;
}
.valueTotal {
  font-weight:bold;
  background-color:#eeeeee;
}
.valueTotal1 {
  background-color:#eeeeee;
}

.background {
  padding-top:5px;
  padding-bottom:5px;
  background-color:#eeeeee;
}
.borderLeft {
  border-left-style:solid;
  border-left-color:black;
  border-left-width:thin;
}
.borderBottom {
  border-bottom-style:solid;
  border-bottom-color:black;
  border-bottom-width:thin;
}
.bold {
  font-weight:bold;
}
.italic {
  font-style:italic;
}
.alignRight {
  text-align:right;
}



*/